@import 'variables';

$card-icon-size : 25px;
$card-shadow    : 0 0 1px 1px $color-gray-lighter;
$card-shadow-hover : 0 0 1px 1px $secondary-color;

.card {
  position: relative;
  padding: $padding-box-base;
  background-color: lighten($color-gray-lighter, 7%);
  border-radius: $border-radius-base;
  box-shadow: $card-shadow;
  cursor: pointer;

  .circle {
    position: absolute;
    top: -$spacing-base-vert;
    left: -$spacing-base-hor;
    background-color: #fff;
    border: none;
    box-shadow: $card-shadow;
    background-color: lighten($color-gray-lighter, 7%);
  }
}

.card:hover {
  box-shadow: $card-shadow-hover;

  .circle {
    box-shadow: $card-shadow-hover;
  }
}

.card-icon {
  display: block;
  width: $card-icon-size;
  height: $card-icon-size;
  margin: $spacing-base-vert/2;
}

.card-title {
  text-align: center;
  line-height: $font-size-medium;
}

.card-content {
  display: block;
}
