@import 'variables';

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $brand-primary;
  color: $brand-primary;
  font-size: 18px;
  border-radius: 50%;
  vertical-align: middle;

  &:after {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
  }
}

.circle.half-down {
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.circle.half-up {
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
