@import 'variables';
@import '~font-awesome/scss/mixins';
@import '~font-awesome/scss/variables';

.closer {
  color: $color-gray-lighter;
}

.closer:hover {
  color: $color-gray-light;
}

.closer-absolute:before {
  @include fa-icon();
  content: $fa-var-times;
}

.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .modal-inner-content {
  border-bottom: 0;
}

.modal .modal-actions {
  z-index: 2;
  box-shadow: 0 -15px 30px 15px white;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.margin-top-double {
  margin-top: $spacing-base-vert*2;
}

.margin-vert-base {
  margin-top: $spacing-base-vert;
  margin-bottom: $spacing-base-vert;
}
