@font-face {
  font-family: Accountopening;
  src: url('//cdn.accountopening.fino.digital/kt-bank/assets/fonts/MetaWebPro/MetaWebPro-Book.eot?#iefix')  format('embedded-opentype');
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: Accountopening;
  src: url('//cdn.accountopening.fino.digital/kt-bank/assets/fonts/MetaWebPro/MetaWebPro-Book.woff') format('woff');
}
