@import 'variables';
@import '~font-awesome/scss/mixins';
@import '~font-awesome/scss/variables';

.ui-form-control {
  // Checkbox & Radio
  .checkbox,
  .radio {
    margin-top: 0;
  }
}

[v-busy].is-busy {
  &.btn-default::before {
    border-top-color: $btn-default-color;
    border-left-color: $btn-default-color;
  }
}

// # File upload
//
.file-drop {
  border: 3px dashed $color-gray-light;
  padding: 2.5rem;
  width: 100%;
  text-align: center;
}

.ui-form-fields {
  margin: 0;

  .datepicker {
    .btn-info.active {
      color: #fff;
    }
  }

  .form-control-placeholder {
    font-size: 14px;
  }

  .field-descriptions {
    padding: 0 $spacing-base-hor;

    li {
      color: $text-color;
      margin: 0;
    }

    li:before {
      @include fa-icon();
    }

    li.checkMark:before {
      top: 4px;
      content: $fa-var-circle;
      margin-right: 5px;
      font-size: 0.7rem;
    }

    li.checkMark {
      margin-top: 10px;
      padding-left: 20px;
    }
  }

  .form-header {
    .circle {
      display: none;
    }
  }

  .media-heading {
    margin: $spacing-base-vert 0 0;
  }

  .form-field-expandables.expanded {
    padding: 0;

    .field-label {
      padding-left: 15px;
    }
  }

  .transclusion-label {
    width: 100%;
  }
}
