@import 'variables';

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.image-mr {
  height: 70px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/personal/man.png);
}

.image-ms {
  height: 70px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/personal/woman.png);
}

.image-singleAccount {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/opening/single.png);
}

.image-jointAccount {
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/opening/community.png);
}

.image-maestroCard {
  margin-top: $spacing-base-vert;
  margin-bottom: $spacing-base-vert;
  height: 160px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/creditCards/card-normal.png);
}

.image-debitMasterCardClassic {
  margin-top: $spacing-base-vert;
  margin-bottom: $spacing-base-vert;
  height: 160px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/creditCards/card-special.png);
}

.image-credit-card-blank {
  margin: 0;
  padding-top: 60%;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/creditCards/card-normal_blank.png);
}

.image-logo {
  height: $header-height - 10px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/logo/logo-neg.png);
}

.image-first-state-back {
  position: relative;
  height: $first-state-image-height;
  width: 100%;
  background-size: cover;
  background-position: 0 35%;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/header-back.png);
  //background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/header.jpg);
}

.image-first-state {
  border-radius: 17px;
  height: $first-state-image-height;
  margin: auto;
  top: 0;
  width: $content-width;
  background-size: cover;
  background-position: 0 35%;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/header.jpg);
}

.image-cam {
  height: 50px;
  width: 50px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/finish/cam.png);
}

.image-envelope {
  height: 50px;
  width: 50px;
  background-image: url(//cdn.accountopening.fino.digital/kt-bank/assets/images/finish/envelope.png);
}

@media (max-width: $screen-xs-max) {
  .image-first-state-back {
    height: $first-state-image-height/2;
  }

  .image-first-state {
    margin-top: 0;
    height: $first-state-image-height/2;
    width: 100%;
    border-radius: 0;
  }
}

@media (min-width: $screen-xs-max) and (max-width: 1400px) {
  .image-first-state-back {
    height: $first-state-image-height/1.5;
  }

  .image-first-state {
    height: $first-state-image-height/1.5;
  }
}
