@import 'variables';

html, body, .app-container {
  font: $font-size 'Accountopening', sans-serif;
  color: $text-color;
  height: 100%;
}

app-header {
  width: 100%;
}

p, span, li {
  line-height: $line-height;
}

hr {
  margin: $spacing-base-vert 0;
}

.app {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  .view {
    flex:1;
    width: 100%;
    display: flex;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }

  .error-bar {
    position: absolute;
  }
}

.center-text {
  text-align: center;
}

.primary-text-color {
  color: $primary-color;
}

.primary-text {
  @extend .primary-text-color;
  font-size: $font-size-medium;
}

.accountopening-content, .error-content {
  width: $content-width;
  padding: 0 $spacing-base-hor;

  .text-content {
    width: $text-content-percentage;
    margin: auto;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    border: 0;

    .text-content {
      width: 100%;
    }
  }
}

.line-height-medium {
  p, span, li {
    line-height: $font-size-medium;
  }
}

.main-title {
  font-size: $font-size-medium;
  text-align: center;
  margin: 0;
}

