@import 'variables';

.modal {
  .confirm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .modal-content {
    border-radius: 0;
    padding: 10px 15px;
  }

  @media only screen and (max-width: 550px) {
    .btn-default.ui-form-button, 
    .btn-primary {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .confirm-header-icon {
    color: $primary-color;
    font-size: 3rem;
  }

  .confirm-header-close {
    a {
      color: $color-gray-medium;
      display: block;
      margin-top: -30px;
    }
  }
}