.config-account {
  .field-and-description-container {
    width: 260px;
  }

  .field-and-description-container .input-container {
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    .col-xs-6 {
      width: 100%;
    }

    .col-xs-6:first-of-type {
      margin-bottom: $spacing-base-vert;
    }
  }

  .field-list {
    font-size: $font-size-decent;
  }

  .checkbox {
    margin: $spacing-base-vert/2 0;

    label > span {
      width: 100%;
      text-align: left;
    }

    label:before {
      top: 10px;
    }

    label {
      padding-left: 12px;
    }
  }

  .media-heading {
    text-align: center;
  }
}

.contact {
  .form-field-expandables.expanded {
    margin-top: $spacing-base-vert;
  }
}
