// Semantic Variables
$primary-color            : #006a4d;
$primary-contrast-color   : #fff;
$secondary-color          : #ffdd00;
$secondary-color-light    : #FFF199;
$text-color               : #616164;

$accent-color             : #1de9b6;
$bg-color                 : #efefef;

$dark-bg-color            : #263238;
$dark-text-color          : #212121;

$light-bg-color           : #37474f;
$light-text-color         : #f5f5f5;

$input-border             : #d9d9d9;

$color-gray               : #4E4E52;
$color-gray-medium        : #838385;
$color-gray-light         : #B9B9BA;
$color-gray-lighter       : #eaeaea;

// Overwrite Bootstrap Variables
$brand-primary            : $primary-color;

// Apply missing variables for awesome-bootstrap-checkbox
$input-border-color       : $input-border;

// spacing
$spacing-base-vert        : 15px;
$spacing-base-hor         : 15px;
$padding-box-base         : $spacing-base-vert $spacing-base-hor;

// Forms
$form-error-color     	  : #fff;
$form-error-bg-color      : #f00;

// font sizes#
$font-size                : 16px;
$line-height              : 20px;
$font-size-icon           : 1.3rem;
$font-size-medium         : 1.8rem;
$font-size-decent         : 0.9rem;
$circle-font-size         : 1rem;

// sizes
$header-height            : 50px;
$first-state-image-height : 400px;
$content-width            : 800px;
$text-content-percentage  : 75%;

// border
$border-base              : 1px solid $color-gray-lighter;
$border-radius-base       : 2px;

// datepicker
$datepicker-active-color  : $primary-color;

@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
