@import '../../../styles/variables';
@import '~font-awesome/scss/mixins';
@import '~font-awesome/scss/variables';

$checkout-bar-height  : 10px;
$circle-height: 30px;

.checkout-container {
  text-align: center;
  margin: $spacing-base-vert*3 0 0;

  .checkout-time {
    margin-bottom: $spacing-base-vert*3;
  }

  .checkout {
    display:flex;
    margin: $spacing-base-vert 0 -$spacing-base-hor*1.8;
  }

  .checkout-item {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .checkout-item-content {
    flex: 1;
    margin-bottom: $spacing-base-vert;
    justify-content: center;
  }

  .checkout-icon {
    margin-bottom: $spacing-base-vert/3;
  }

  .checkout-item.active-step .checkout-text {
    padding: $spacing-base-vert/3 $spacing-base-hor/3;
    padding-top: $spacing-base-vert/3+3px;
    position: relative;
    border-radius: 2px;
  }

  .checkout-item.active-step .checkout-text:before {
    @include fa-icon();
    content: $fa-var-caret-down;
    position: absolute;
    top: 100%;
    margin-top: -12px;
    margin-left: -7.5px;
    left: 50%;
    font-size: $font-size-icon;
    color: $color-gray-light;
  }

  .checkout-item.active-step ~ .checkout-item {
    opacity: 0.7;
  }

  .checkout-bar {
    width: 100%;
    position: absolute;
    height: $checkout-bar-height;
    background-color: $secondary-color-light;
    top: 50%;
    margin-top: -$checkout-bar-height/2;
    border-top: 1px solid white;
    z-index: 1;
  }

  .checkout-bar-container {
    height: $circle-height;
    position: relative;
  }

  .checkout-bar-circle {
    position: absolute;
    border: none;
    height: $circle-height;
    width: $circle-height;
    top: 0;
    left: 50%;
    margin-left: -$circle-height/2;
    background-color: $secondary-color-light;
    z-index: 2;
  }

  .checkout-bar-active {
    width: 50%;
    background-color: $secondary-color;
    visibility: hidden;
  }
  .checkout-item.active-step {
    .checkout-bar-active{
      visibility: visible;
    }

    .checkout-bar-circle {
      border: $circle-height/4 solid $secondary-color;
    }
  }

  .checkout-item.done {
    .checkout-bar, .checkout-bar-circle {
      background-color: $secondary-color;
    }
  }

  .checkout-bar-rotate-left {
    border: none;
    width: 15px;
    height: 8px;
    left: 18px;
    transform: translate(-20px,-4px) rotate(140deg) skewX(-41deg);
    background-color: $secondary-color;
  }

  .checkout-bar-rotate-right {
    z-index: 0;
    border: none;
    width: 15px;
    height: 9px;
    right: 19px;
    background-color: $secondary-color-light;
    transform: translate(20px,-4px) rotate(-140deg) skewX(38deg);
  }

  @media (max-width: $screen-xs-max) {
    .checkout-item:not(.active-step) {
      .checkout-text {
        display: none;
      }
    }
  }
}
