<div class="checkout-container">

  <div class="checkout">
    <div
      class="checkout-item"
      ng-class="{
        'active-step' : state === vm.currentState,
        'done' : vm.states.indexOf(state) < vm.states.indexOf(vm.currentState)
      }"
      ng-repeat="state in vm.states">
      <div class="checkout-item-content center-flex">
        <div class="checkout-text" translate="{{ 'app.checkout.' + state }}"></div>
      </div>
      <div class="checkout-bar-container">
        <div ng-if="$index === 0" class="checkout-bar checkout-bar-rotate-left"></div>

        <div class="checkout-bar"></div>
        <div class="checkout-bar checkout-bar-active"></div>
        <div class="checkout-bar-circle circle"></div>

        <div ng-if="$index === vm.states.length-1" class="checkout-bar checkout-bar-rotate-right"></div>
      </div>
    </div>
  </div>
</div>
