<div class="error-container center-flex">
  <div class="image image-first-state-back">
    <div class="image image-first-state">
    </div>
  </div>

  <h2
    class="margin-top-double"
    translate="app.error">
  </h2>

  <div class="error-content text-content">
    <div
      class="image image-first-state-back"
      ng-if="vm.isFirstState">
      <div class="image image-first-state">
      </div>
    </div>
    <div ng-repeat="(key, val) in vm.displayError track by $index">
      <h3 translate="{{ 'app.error.' + key }}"></h3>
      <ul>
        <li
          ng-repeat="reason in val"
          translate="{{ 'app.error.detail.' + reason }}">
        </li>
      </ul>
    </div>
    <p
      class="margin-vert-base"
      translate="app.error.add">
    </p>
    <div class="center-text margin-top-double">
      <a ui-sref="app.accountopening({stateName:null})">
        <fd-form-button
          on-click="vm.goHome($event)"
          label="app.accountopening.goHome">
        </fd-form-button>
      </a>
    </div>
  </div>
</div>
