.view {
  position: relative;
}

accountopening-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.deactive-wrapper {
  overflow-y: auto;
}

.checkout-container .checkout-item.active-step .checkout-text {
  padding: 0;
  padding-bottom: 3px;
}

.checkout-container .checkout-item-content {
  margin-bottom: $spacing-base-vert*2;
}

input:-ms-input-placeholder {
  color: #ddd;
}

.modal-inner {
  max-width: 100%;
}
