@import '../../../styles/variables';

.credit-card-component {
  padding: $padding-box-base;
  padding-bottom: $spacing-base-vert*2;
  max-width: 400px;
  left: 0;
  right: 0;
  margin: auto;

  .credit-card {
    position: relative;
  }

  .credit-card-name {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 190px;
    font-family: monospace;
    color: white;
    font-size: 14px;
    text-shadow: 0 2px 1px rgba(0 ,0 ,0 ,0.3);
  }
}
