
<div class="credit-card-component">
  <div class="credit-card image image-credit-card-blank">
    <div class="credit-card-name">
    <span ng-bind="vm.model.firstName"></span>
    <span ng-bind="vm.model.lastName"></span>
    </div>
  </div>
</div>
