@import '../../styles/variables';
@import '~font-awesome/scss/variables';

accountopening-component {
  display: flex;
  width: 100%;
}

.spinner-container {
  text-align: center;
  margin-top: 200px;

  .spinner {
    display: inline-block;
  }
}

.deactive-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100%;
  position: absolute;
  overflow-y: hidden;
}

.accountopening {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: relative;

  .accountopening-content {
    display: block;
    position: relative;
    box-shadow: 0 2px 7px 1px $color-gray-lighter;
    flex: 1;
  }

  .formular-component-container {
    margin-top: $spacing-base-vert;
  }

  .buttons {
    margin-top: $spacing-base-vert + 5px;
  }

  .form-container {
    flex: 1;
    padding-top: $spacing-base-vert*3;
  }

  .form-container.center {
    justify-content: center;
  }

  .content-container {
    width: 100%;
  }

  .closer {
    font-size: 2rem;
    position: absolute;
    top: $spacing-base-vert;
    right: $spacing-base-hor;
    cursor: pointer;
  }

  .time {
    text-align: right;
    padding-top: $first-state-image-height/2.8;
    padding-right: $spacing-base-hor;
    width: 100%;
    right: 0;
    line-height: 1.8rem;
  }

  .buttons {
    margin-bottom: $spacing-base-vert*2;
  }

  .btn-primary {
    margin-left: $spacing-base-hor;
  }
}
