<div class="accountopening">

  <div ng-show="!vm.isReady" class="spinner-container">
    <span us-spinner="{radius:30, width:8, length: 16, color: '#ffdd00'}"></span>
  </div>

  <div ng-show="vm.isReady" class="deactive-wrapper">

  <div
  class="image image-first-state-back"
  ng-if="vm.isFirstState">
    <div class="image image-first-state">
    </div>
  </div>

  <div class="accountopening-content" ng-class="vm.stateAsClassName">

      <div class="top-container">
        <checkout
          ng-if="vm.showCheckout"
          states="vm.user.visibleStates"
          current-state="{{ vm.stateName }}">
        </checkout>
      </div>
      <div class="form-container center-flex">
        <div class="main-title primary-text" translate="{{vm.header}}"></div>

        <div class="content-container" ng-switch on="vm.hasFinished">

          <finish-component
            ng-switch-when="true"
            user="vm.user"
            loading="vm.loading(loading)">
          </finish-component>

          <div ng-switch-default>

            <div
              class="formular-component-container"
              ng-repeat="customer in vm.customers track by customer.id">
              <formular-component
                form-id="{{ customer.id }}"
                state="{{ vm.stateName }}"
                model="vm.model"
                field-groups="customer.fieldGroups"
                control-from-above="true"
                initialized="vm.formInitialized(formController)">
                <personal-information>
                  <credit-card-component model="$parent.vm.model[customer.id]"></credit-card-component>
                </personal-information>
              </formular-component>
            </div>

            <div class="row center-text buttons">
              <fd-form-button
                ng-if="vm.backNavigationAllowed"
                class="btn-reset"
                on-click="vm.requestPrevious($event)"
                label="accountopening.form.back.label">
              </fd-form-button>

              <fd-form-button
                class="btn-submit"
                btn-type="submit"
                btn-primary="true"
                on-click="vm.submit($event)"
                on-long-press="vm.fillRandomData()"
                is-busy="vm.isSaveBusy"
                label="accountopening.form.submit.label">
              </fd-form-button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DECLARATIONS -->
<div ng-include="'app/common/ui/modals/declarations.tpl.html'"></div>

