@import '../../../styles/variables';
@import '~font-awesome/scss/mixins';
@import '~font-awesome/scss/variables';

$header-text-color: $dark-text-color !default;
$header-bg-color: $primary-color !default;

.app .header {
  background-color: $header-bg-color;
  padding: $spacing-base-vert $spacing-base-hor*2;
}

.header-content {
  position: relative;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-title {
    color: $primary-contrast-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1.8rem;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .header-right {
    color: $light-text-color;
    display: flex;
  }

  .fa-phone {
    font-size: 2.8rem;
  }

  .image-logo {
    padding-left: 60%;
    margin: 0;
  }

  .info {
    margin: 0 $spacing-base-hor;
  }
  
  .flag-icon {
    padding-top: 5px;
  }

  .info-tel {
    font-size: $font-size-medium;
    line-height: normal;
  }

  .language-dropdown {
    margin-top: 2px;
    margin-bottom: 0;
    width: 45px;

    .caret {
      color: $primary-contrast-color;
      margin-top: -7px;
      right: 17px;
      top: auto;
      pointer-events: none;
    }

    .ui-select-choices-row, .ui-select-match-text {
      font-size: 1.5rem;
    }

     .ui-select-match-text {
        padding-right: 0;

        span {
          width: 31px;
        }
     }

    .ui-select-choices {
      background-color: transparent;
    }

    .ui-select-match, .ui-select-toggle {
      background-color: transparent;
    }

    .ui-select-choices-row-inner {
      padding: 5px;
      line-height: normal;
    }

    .ui-select-toggle {
      padding: 12px 5px 5px;
      height: auto;
    }

    .dropdown-menu {
      min-width: 0;
    }
  }
}
