<header class="header">
  <div class="header-content">
    <div class="image image-logo"></div>

    <span
      class="header-title"
      translate="app.header.title">
    </span>

    <div class="header-right">
      <i class="fa fa-phone hidden-xs"></i>
      <div class="info hidden-xs">
        <span
          class="info-tel"
          translate="app.header.info.number">
        </span>
        <div
          class="info-open"
          translate="app.header.info.opening">
        </div>
      </div>
      <ui-select
        class="language-dropdown"
        ng-model="vm.selectedLanguage"
        search-enabled="false"
        on-select="vm.useLanguage(vm.selectedLanguage.key, vm)">
        <ui-select-match>
          <span ng-class="'flag-icon flag-icon-' + $select.selected.flagKey"></span>
        </ui-select-match>
        <ui-select-choices
          repeat="lang in vm.selectables track by $index">
         <span ng-class="'flag-icon flag-icon-' + lang.flagKey"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</header>
