@import '../../../styles/variables';

$stripe-width: 1px;
$max-vertical-width: 450px;

.divider {
  display: flex;

  .divider-middle {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .stripe {
      position: absolute;
      background-color: lighten($color-gray-light, 10%);
      left: 50%;
      margin-left: -$stripe-width/2;
      width: $stripe-width;
      height: 100%;
    }

    .text {
      z-index: 1;
      border: $stripe-width solid lighten($color-gray-light, 10%);
      color: darken($color-gray-light, 5%);
      line-height: normal;
      padding: 5px 5px 2px;
      background-color: white;
      border-radius: $border-radius-base;
      flex-shrink: 0;
    }
  }

  .divider-box {
    flex: 1;
    padding: $padding-box-base;
  }
}

.vertical {
  max-width: $max-vertical-width;
  flex-direction: column;

  .divider-middle .stripe {
    left: 0;
    height: $stripe-width;
    width: 100%;
  }
}

@media (max-width: $screen-xs-max) {
  .divider {
    max-width: $max-vertical-width;
    flex-direction: column;

    .divider-middle .stripe {
      left: 0;
      height: $stripe-width;
      width: 100%;
    }
  }
}
