<div
  class="divider"
  ng-class="{
    'vertical' : vm.vertical
  }">
  <div class="divider-box" ng-transclude="left"></div>
  <div class="divider-middle">
    <div class="stripe"></div>
    <span class="text" translate="app.accountopening.divider"></span>
  </div>
  <div class="divider-box" ng-transclude="right"></div>
</div>
