<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="app">
  <app-header></app-header>

  <error-bar></error-bar>

  <!--<uir-transitions-view></uir-transitions-view>-->
  <uir-state-vis-container></uir-state-vis-container>

  <div class="view" ui-view></div>
</div>
