@import '../../styles/variables';

success-component {
  width: 100%;
}

.success {
  padding-bottom: $spacing-base-vert*2;
  text-align: center;

  .info {
    margin: $spacing-base-vert*2 0;
  }

  .paragraph, .link {
    margin-bottom: $spacing-base-vert;
  }

  .success-bottom {
    margin-bottom: $spacing-base-vert*2;
  }

  .fa {
    margin: 0 $spacing-base-hor/2;
    font-size: $font-size-medium;
  }
}
