<div class="success center-flex line-height-medium">
  <div class="image image-first-state-back">
    <div class="image image-first-state"></div>
  </div>

  <div class="accountopening-content">
    <div class="text-content">
      <div class="info">
        <h3 class="main-title primary-text" translate="accountopening.success.header"></h3>
        <h3 class="main-title primary-text paragraph" translate="accountopening.success.header.sub"></h3>

        <p class="paragraph" translate="accountopening.success.next"></p>
        <p translate="accountopening.success.help"></p>
      </div>

      <div class="success-bottom">
        <div class="link">
          <a href="http://www.kt-bank.de" target="_blank" translate="accountopening.website.kt"></a>
        </div>
        <div>
          <a
            href="https://facebook.com/ktbankde/"
            class="fa fa-facebook"
            target="_blank">
          </a>
          <a
            href="https://www.youtube.com/channel/UCOrNQnAJU1Dxeiu44NyqMOw"
            class="fa fa-youtube"
            target="_blank">
          </a>
          <a
            href="https://plus.google.com/112887442186800245845/"
            class="fa fa-google-plus"
            target="_blank">
          </a>
          <a
            href="https://www.instagram.com/ktbankde/"
            class="fa fa-instagram"
            target="_blank">
          </a>
        </div>
      </div>

      <!--<a class="btn btn-primary" translate="accountopening.success.intent"></a>-->
    </div>
  </div>
</div>
