<div class="formular" document-walker-parent>
  <div class="transclude-container" ng-if="vm.transclude" ng-transclude="{{ vm.state }}"></div>

  <form name="vm['{{ vm.formId }}']" role="form" novalidate>
    <fd-form-fields
      center-content="vm.center"
      form="vm.form"
      field-groups="vm.fieldGroups"
      model="vm.model[vm.formId]"
      translate-prefix="accountopening.form"
      language-options="vm.languageOptions"
      manual-validation="true"
      center-labels="true"
      inherit-model="vm.model">
    </fd-form-fields>
  </form>

  <div ng-if="!vm.controlFromAbove" class="row center-text buttons">
    <fd-form-button
      ng-if="vm.backNavigationAllowed"
      class="btn-reset"
      on-click="vm.back($event)"
      label="accountopening.form.back.label">
    </fd-form-button>

    <fd-form-button
      class="btn-submit"
      btn-type="submit"
      btn-primary="true"
      on-click="vm.save($event)"
      on-long-press="vm.fillRandomData()"
      is-busy="vm.isSaveBusy"
      label="accountopening.form.submit.label">
    </fd-form-button>
  </div>
</div>
