@import '../../../styles/variables';

.hero {
  background-color: $dark-bg-color;
  color: $light-text-color;
  padding: 3rem;
  text-align: center;
}

.hero-title {
  margin-top: 10px;
}

.hero-lead {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
