<ui-modal>
  <content>
   <div marked src="'//cdn.accountopening.fino.digital/shared/documents/'+vm.documentLanguage+'/Web-ID-AGBs.md'"></div>
 </content>
  <actions>
    <div>
    <form class="finish-modal" name="vm.webIdAgbForm" role="form" novalidate>
      <fd-form-control
        form="vm.webIdAgbForm"
        type="checkbox"
        name="agb"
        model="vm.agb"
        label="app.finish.confirmAgb"
        required="true"
        messages="{
          'required' : 'app.finish.agb.required'
        }">
      </fd-form-control>
      <div>
        <fd-form-button on-click="$modal.dismiss()" label="app.finish.dismiss"></fd-form-button>
        <fd-form-button btn-type="submit" btn-primary="true" on-click="vm.submitAgbForm($modal)" label="app.finish.videoIdent.agbOk"></fd-form-button>
      </div>
   </form>
  </actions>
</ui-modal>
