@import '../../../styles/variables';

.finish-container {
  margin: auto;
  padding-bottom: $spacing-base-vert*2;

  .main-title {
    margin-bottom: 0;
  }

  .intro {
    text-align: center;
    margin: $spacing-base-vert*2 0 $spacing-base-vert*2;
  }

  .btn {
    line-height: 1.2rem;
    margin-bottom: $spacing-base-vert;
  }

  .card-title .italic-text {
    display: block;
    margin-bottom: 5px;
  }

  .card-content {
    font-size: $font-size-decent;
    padding-left: $spacing-base-hor;
  }

  .media {
    margin: $spacing-base-vert 0 $spacing-base-vert/2 $spacing-base-hor;

    .media-heading {
      text-align: left;
      margin: 0;
    }

    h3 {
      margin: 0;
    }
  }

  .divider-box {
    display: table-cell;
    align-items: stretch;

    .card {
      height: 100%;
    }
  }

  .divider {
    left: 0;
    right: 0;
    margin: auto;
  }

  a {
    text-decoration: none!important;
  }

  .card ul {
    list-style-type: circle;
  }

  .card li {
    color: $color-gray;
  }

  @media (max-width: $screen-xs-max) {
    .media {
      margin-left: 0;
    }
  }
}

.finish-modal {
  label.transclusion-label {
    margin-bottom: 0;
  }

  .ui-form-control {
    display: inline-block;
    margin-bottom: 5px;
  }

  .btn-default {
    margin-right: $spacing-base-hor/2;
  }

  .btn-primary {
    margin-left: $spacing-base-hor/2;
  }
}
