<ui-modal modal-key="postIdent">
  <content>
    <div marked src="'//cdn.accountopening.fino.digital/shared/documents/'+vm.documentLanguage+'/postident.md'"></div>
  </content>
  <actions>
    <div
      class="btn btn-primary"
      ng-click="vm.goToSuccessState()"
      translate="accountopening.modal.finish">
    </div>
  </actions>
</ui-modal>
