<div class="finish-container line-height-medium">
 <p class="intro" translate="app.finish.intro"></p>

<divider vertical="true">
    <left>
      <div class="card" ui-modal-trigger="webIdAgb">
        <span class="circle">
          <i class="card-icon image image-cam"></i>
        </span>
          <h4
          class="card-title primary-text-color">
          <span
            class="italic-text underline-text"
            translate="app.finish.videoIdent.title">
          </span>
          <span translate="app.finish.videoIdent"></span>
        </h4>

          <ul class="card-content">
            <li translate="app.finish.videoIdent.first"></li>
            <li translate="app.finish.videoIdent.third"></li>
            <li translate="app.finish.videoIdent.fourth"></li>
          </ul>
      </div>
    </left>
    <right>
      <div class="card" ui-modal-trigger="postIdent">
        <span class="circle">
          <i class="card-icon image image-envelope"></i>
        </span>
          <h4
          class="card-title primary-text-color">
          <span class="italic-text" translate="app.finish.postIdent.title"></span>
          <span translate="app.finish.postIdent"></span>
        </h4>

        <ul class="card-content">
          <li translate="app.finish.postIdent.first"></li>
          <li translate="app.finish.postIdent.second"></li>
          <li translate="app.finish.postIdent.third"></li>
          <li translate="app.finish.postIdent.fourth"></li>
        </ul>
      </div>
    </right>
  </divider>
</div>

<ui-modal-declaration
  fullscreen="true"
  modal-key="webIdAgb"
  modal-url="app/common/ui/finish/finish.webIdModal.tpl.html">
</ui-modal-declaration>

<ui-modal-declaration
  modal-key="postIdent"
  modal-url="app/common/ui/finish/finish.postIdent.tpl.html">
</ui-modal-declaration>
