<ui-modal modal-key="agb" fullscreen="true">
  <content>
    <div marked src="'//cdn.accountopening.fino.digital/kt-bank/assets/documents/'+vm.documentLanguage+'/AGBs.md'"></div>
  </content>
  <actions>
    <div
      class="btn btn-primary"
      ng-click="$modal.close()"
      translate="accountopening.modal.close">
    </div>
  </actions>
</ui-modal>
