<ui-modal>
  <content>
    <h2 class="confirm-header">
      <div class="confirm-header-icon">
        <i class="fa fa-info"></i>
      </div>
      <span translate="{{ confirmTitle }}" translate-values="confirmTitleValues"></span>
      <div class="confirm-header-close">
        <a href ng-click="$modal.dismiss()"><i class="fa fa-close"></i></a>
      </div>
    </h2>
    <p
      class="confirm-body"
      translate="{{ confirmBody }}"
      translate-values="confirmBodyValues"
      translate-interpolate>
    </p>
  </content>
  <actions>
    <fd-form-button
      on-click="vm.backButtonConfirmRedirect($modal)"
      label="{{ confirmDismiss }}">
    </fd-form-button>
    <fd-form-button
      btn-primary="true"
      on-click="$modal.close()"
      label="{{ confirmOk }}">
    </fd-form-button>
  </actions>
</ui-modal>
