<ui-modal modal-key="schufa" fullscreen="true">
  <content>
    <div marked src="'//cdn.accountopening.fino.digital/shared/documents/'+vm.documentLanguage+'/Schufa.md'"></div>
  </content>
  <actions>
    <div
      class="btn btn-primary"
      ng-click="$modal.close()"
      translate="accountopening.modal.close">
    </div>
  </actions>
</ui-modal>
