<nav class="navbar navbar-default">
  <div class="container">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        ng-init="vm.navCollapsed = true"
        ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only" translate="navbar.action.toggle"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>    
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-responsive-collapse" uib-collapse="vm.navCollapsed">    
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-repeat="tab in vm.navbarTabs track by tab.ref">
          <a ui-sref="{{ tab.ref }}" role="button" translate="{{ tab.text }}"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
