@import '../../../styles/variables';

.navbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dedede;
  margin-bottom: 2rem;
  
  // Underline active link
  .active {
    a {
      border-bottom: 2px solid $brand-primary;
    }
  }
}
